h1 {
    font-family: Roboto;
    background-color: transparent;
    color: rgb(71, 72, 6);
}

h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: blueviolet;
}

.slogan {
    display: grid;
    justify-content: space-evenly;
    position: fixed;
    background: linear-gradient(to left, rgb(50, 166, 172), rgb(62, 212, 162));
    left: 0;
    right: 0;
    top: -25px;
    z-index: 1;
    height: 130px;
    width: 100%;
}
